@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #797979;
}

.container {
  width: calc(100% - 100px);
  max-width: 780px;
  margin: 0 auto;
}

.profile {
  background-color: rgba(244, 244, 244, 255);
}

.master-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.profile-photo > img {
  width: 150px;
  border-radius: 100%;
}

.profile-name > h1,
strong,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 35px;
  color: #46484a;
}

strong {
  font-weight: 600;
}

.profile-name > h3,
.background > h4,
.skill-master > h4,
.education-master > h4,
.experience-master > h4 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 7px;
}

.contact-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  margin: 0 0 16px;
}

.profile-background {
  display: flex;
}

.row {
  flex: 1;
  padding-bottom: 20px;
  margin: 60px 0 0 40px;
}

.background > h4,
.skill-master > h4,
.education-master > h4,
.experience-master > h4 {
  font-size: 23px;
  margin-bottom: 30px;
}

.skill-master ul li {
  margin-left: 20px;
  padding-bottom: 10px;
}

.skills {
  padding-bottom: 30px;
}

.school-list {
  margin-bottom: 30px;
}

.school-list > h5,
.experiences-list > h5 {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
}

.school-list > p {
  font-size: 14px;
}

.experiences-list {
  margin-bottom: 30px;
}

.experiences-list p {
  margin-bottom: 5px;
}
.experiences-list p:nth-child(3) {
  font-weight: 700;
}

.experiences-list ul {
  margin-top: 20px;
}

.experiences-list ul li {
  margin-bottom: 5px;
  margin-left: 20px;
}

.first-parent-grid {
  display: flex;
}

.education {
  padding-top: 30px;
  border-top: 1px solid #686868;
}

.contact {
  border-right: 1px solid #686868;
  border-bottom: 1px solid #686868;
  padding-bottom: 20px;
  margin: 60px 0 0;
}

.background {
  border-bottom: 1px solid #686868;
  margin-left: 0;
  padding-left: 40px;
}

.parent-grid-test {
  border-right: 1px solid #686868;
  margin: 0;
  padding: 30px 0 0;
}

.experiences {
  margin: 30px 0 0 40px;
}

@media (min-width: 375px) and (max-width: 500px) {
  .profile-photo > img {
    width: 100px;
    border-radius: 100%;
  }

  .profile-name > h1,
  strong,
  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #46484a;
  }

  strong {
    font-weight: 600;
  }

  .master-profile {
    width: 100%;
  }
}
